*,
*:before,
*:after {
   box-sizing: inherit;
   margin: 0;
}

html {
   box-sizing: border-box;
   background: url('https://i.postimg.cc/L6FY0z1P/brick-wall.jpg') center center;
   background-size: cover;
   box-shadow: inset 0 0 0 1000px rgba(115, 30, 9, 0.3);
   min-height: 100vh;
   display: flex;
   justify-content: center;
   text-align: center;
}

img {
   width: 22rem;
   max-width: 75vw;
   margin: 1em 0;
}

h1,
p {
   text-align: center;
   color: rgba(255, 255, 172, 1);
   text-shadow: -1px -1px 0 rgb(191, 132, 62), 1px -1px 0 rgb(191, 132, 62),
      -1px 1px 0 rgb(191, 132, 62), 1px 1px 0 rgb(191, 132, 62);
   letter-spacing: 0.1em;
}

h1 {
   font-size: 2.5em;
}

p {
   font-size: 1.25em;
}

.passengers__total {
   font-size: 1.8em;
   font-weight: 900;
}

table {
   color: rgb(255, 255, 172);
   text-transform: uppercase;
   border-collapse: collapse;
}

th {
   padding-top: 1.2em;
}

.passengers__in,
.passengers__out,
.station__name,
.button__add-passengers {
   padding: 8px;
   text-align: center;
   font-weight: 900;
   font-size: 1em;
   letter-spacing: 0.2em;
   color: rgba(245, 186, 130, 1);
   appearance: none;
   background-color: rgba(115, 30, 9, 1);
   box-shadow: 0 2px 4px -1px rgb(255, 255, 172);
   border-radius: 3px;
   transform: skewX(-10deg);
}

.input__in-out {
   padding: 0 5vw;
}

input:hover {
   background-color: rgba(105, 20, 0, 1);
   color: rgba(255, 196, 140, 1);
   box-shadow: 0 4px 8px -2px rgb(255, 255, 172);
}

.button__add-passengers {
   width: 100%;
   margin-top: 2.5em;
}

.button__add-passengers:hover {
   background-color: rgba(105, 20, 0, 1);
   color: rgba(255, 196, 140, 1);
   box-shadow: 0 4px 8px -2px rgb(255, 255, 172);
}

/* CSS for 'Reto' button @bottom  */

.reto {
   position: absolute;
   bottom: 0.8em;
   right: 0.5em;
   padding: 0.5em 0.75em;
   border-radius: 10%;
   color: rgba(253, 198, 115, 0.75);
   background: rgba(115, 30, 9, 0.75);
   box-shadow: 0 0 10px 5px rgba(229, 166, 86, 0.6);
   text-decoration: none;
}

.dev-to {
   bottom: 4em;
   right: 0.5em;
   padding: 0.5em;
}

.reto:hover {
   color: rgba(253, 198, 115, 0.95);
   background: rgba(115, 30, 9, 0.95);
   box-shadow: 0 0 15px 10px rgba(229, 166, 86, 0.8);
}
