*,
*:before,
*:after {
   box-sizing: inherit;
   margin: 0;
}

html {
   box-sizing: border-box;
   background: url('https://i.postimg.cc/L6FY0z1P/brick-wall.jpg') center center;
   background-size: cover;
   box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.25);
   min-height: 100vh;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   text-align: center;
   position: relative;
}

img {
   width: 90vw;
   max-width: 400px;
   margin: 5vh;
}

h1,
p {
   mix-blend-mode: color-dodge;
   font-size: 2.5em;
   text-align: center;
   color: rgb(221, 169, 105);
}

p {
   font-size: 1.75em;
   font-weight: 600;
}

.passengers__total {
   margin-bottom: 2em;
   min-height: 2em;
   mix-blend-mode: normal;
   color: rgb(255, 255, 172);
   text-shadow: -1px -1px 5px rgb(191, 132, 62), 1px -1px 5px rgb(191, 132, 62),
      -1px 1px 5px rgb(191, 132, 62), 1px 1px 5px rgb(191, 132, 62);
}

table {
   margin-top: 1em;
   color: rgb(255, 255, 172);
   text-shadow: -1px -1px 2px rgb(191, 132, 62), 1px -1px 2px rgb(191, 132, 62),
      -1px 1px 2px rgb(191, 132, 62), 1px 1px 2px rgb(191, 132, 62);
   border-collapse: collapse;
   display: flex;
   justify-content: center;
}

th,
td {
   width: 25vw;
   text-align: center;
   padding-top: 0.2em;
   /* border: 1px solid black; */
}

th {
   padding-top: 1em;
}

input,
.station__name,
.button__add-passengers {
   padding: 8px;
   margin: 0;
   text-align: center;
   appearance: none;
   width: 80%;
   /* border: 1px solid fade(rgb(255, 255, 172), 40%); */
   background-color: rgba(115, 30, 9, 1);
   box-shadow: 0 2px 4px -1px rgb(255, 255, 172);
   /* mix-blend-mode: color-dodge; */
   border-radius: 3px;
   font-weight: 900;
   font-size: 1em;
   letter-spacing: 0.2em;
   transform: skewX(-10deg);
}

.station__name {
   font-size: 1.25em;
}

input,
.button__add-passengers {
   color: rgb(245, 186, 130);
   transform: skewX(-10deg);
}

input:hover,
.button__add-passengers:hover {
   color: rgb(255, 196, 140);
   background-color: rgba(115, 30, 9, 0.95);
   box-shadow: 0 2px 8px -1px rgb(255, 255, 172);
}

.button__add-passengers {
   width: 100%;
   margin-top: 2em;
}

/* CSS for 'Reto' button @bottom  */

.reto {
   position: absolute;
   bottom: 1em;
   right: 1em;
   padding: 0.5em;
   border-radius: 20%;
   color: rgba(253, 198, 115, 0.75);
   background: rgba(115, 30, 9, 0.75);
   box-shadow: 0 0 10px 5px rgba(229, 166, 86, 0.6);
   text-decoration: none;
}

.reto:hover {
   color: rgba(253, 198, 115, 0.95);
   background: rgba(115, 30, 9, 0.95);
   box-shadow: 0 0 15px 10px rgba(229, 166, 86, 0.8);
}
